<div>
  <div class="row control-box">
    <div class="col-lg-8">
      <div class="form-group search-box">
        <app-search-box (searchChange)="onSearchChanged($event)" placeholder="Search"></app-search-box>
      </div>
    </div>
    <div class="col-lg-4 pr-lg-5">
      <ul class="nav flex-column flex-lg-row justify-content-end">
        <li class="nav-item toolbaritem">
          <a class="nav-link" href="javascript:;" (click)="newCategory()">
            <i class="fa fa-plus-circle"></i> New Category
          </a>
        </li>
      </ul>
    </div>
  </div>

  <ngx-datatable class="material colored-header sm table table-striped table-hover"
                 [loadingIndicator]="loadingIndicator"
                 [rows]="rows"
                 [rowHeight]="35"
                 [headerHeight]="35"
                 [footerHeight]="35"
                 [columns]="columns"
                 [scrollbarV]="true"
                 [columnMode]="'force'">
  </ngx-datatable>

  <ng-template #indexTemplate let-value="value">
    <strong>{{value}}</strong>
  </ng-template>

  <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
    <div>
      <a class="btn btn-link btn-sm" href="javascript:;" (click)="editCategory(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'users.management.Edit' | translate}}</a>|
      <a class="btn btn-link btn-sm" href="javascript:;" (click)="deleteCategory(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'users.management.Delete' | translate}}</a>
    </div>
  </ng-template>

  <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 *ngIf="!editingCategoryName" class="modal-title float-left"><i class="fa fa-user-plus"></i> new Product </h4>
          <h4 *ngIf="editingCategoryName" class="modal-title float-left"><i class="fa fa-user-circle-o"></i> Edit Product</h4>
          <button type="button" class="close float-right" title="Close" (click)="editorModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-category-editor #categoryEditor></app-category-editor>
        </div>
      </div>
    </div>
  </div>
</div>
