<div>
  <div class="row control-box">
    <div class="col-lg-8">
      <div class="form-group search-box">
        <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'products.management.Search' | translate}}"></app-search-box>
      </div>
    </div>
    <div class="col-lg-4 pr-lg-5">
      <ul class="nav flex-column flex-lg-row justify-content-end">
        <li class="nav-item toolbaritem">
          <a class="nav-link" href="javascript:;" (click)="newProduct()">
            <i class="fa fa-plus-circle"></i> {{'products.management.NewProduct' | translate}}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <ngx-datatable class="material colored-header sm table table-striped table-hover"
                 [loadingIndicator]="loadingIndicator"
                 [rows]="rows"
                 [rowHeight]="35"
                 [headerHeight]="35"
                 [footerHeight]="35"
                 [columns]="columns"
                 [scrollbarV]="true"
                 [columnMode]="'force'">
  </ngx-datatable>


  <ng-template #indexTemplate let-value="value">
    <strong>{{value}}</strong>
  </ng-template>


  <ng-template #isActiveTemplate let-row="row" let-value="value">
    <span *ngIf="row.isActive" class="text-success" >
      <i class="fa fa-check-circle "> </i>
    </span>
    <span *ngIf="!row.isActive" class="text-danger">
      <i class="fa fa-exclamation-triangle"> </i>
    </span>
  </ng-template>

  <ng-template #productNameTemplate let-row="row">
    <span>{{row.product.name}}</span>
  </ng-template>


  <ng-template #warehouseNameTemplate let-row="row">
    <span>{{row.product.name}}</span>
  </ng-template>


  <ng-template #allocationTemplate let-row="row">
    <span>{{row.allocation.isCompleted}}</span>
  </ng-template>


  <ng-template #updatedByTemplate let-value="value">
    <span class="badge badge-pill badge-secondary">{{value}}</span>
  </ng-template>


  <ng-template #createdByTemplate let-value="value">
    <span class="badge badge-pill badge-secondary">{{value}}</span>
  </ng-template>

  <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
    <div>
      <a class="btn btn-link btn-sm" href="javascript:;" (click)="editProduct(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'products.management.Edit' | translate}}</a>|
      <a class="btn btn-link btn-sm" href="javascript:;" (click)="deleteProduct(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'products.management.Delete' | translate}}</a>
    </div>
  </ng-template>



  <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
    <div>
      <a class="btn btn-link btn-sm" href="javascript:;" (click)="editWarehouseItem(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'products.management.Edit' | translate}}</a>|
      <a class="btn btn-link btn-sm" href="javascript:;" (click)="deleteWarehouseItem(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> {{'products.management.Delete' | translate}}</a>
    </div>
  </ng-template>


  <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 *ngIf="!editingWarehouseItemName" class="modal-title float-left"><i class="fa fa-user-plus"></i>  {{'products.management.NewProduct' | translate}} </h4>
          <h4 *ngIf="editingWarehouseItemName" class="modal-title float-left"><i class="fa fa-user-circle-o"></i>  {{'products.management.Edit' | translate}}</h4>
          <button type="button" class="close float-right" title="Close" (click)="editorModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <app-warehosue-item-editor #WarehosueItemEditor></app-warehosue-item-editor>
        </div>
      </div>
    </div>
  </div>
</div>
