<div>
  <form *ngIf="formResetToggle" name="warehouesItemEditorForm" #f="ngForm" novalidate
        (ngSubmit)="f.form.valid ? save() :
          (!product.valid && showErrorAlert('Category name is required', 'Please enter a Category name (minimum of 2 and maximum of 200 characters)'));">


    <div [ngClass]="{'is-valid': f.submitted && product.valid, 'is-invalid' : f.submitted && !product.valid}" class="col-lg-9">
        <ng-select id="warehouseItem-product"
        name="product"
        [items]="allProducts"
        bindLabel="name"
        [multiple]="false"
        [closeOnSelect]="true"
        placeholder="Select Product"
        [(ngModel)]="warehouseItemEdit.product"
        (change)="selectProductChange($event)"
        #product="ngModel"
        class="form-control left-status pill-items" required>
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <span title='{{item.description}}' class='badge badge-pill badge-secondary'>{{item.name}}<span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span></span>
          </ng-template>

          <ng-template ng-option-tmp let-item="item">
            <span title='{{item.description}}' class='badge badge-pill badge-secondary'>{{item.name}}</span>
            <i class="fa fa-check d-none"></i>
          </ng-template>
        </ng-select>
        <span *ngIf="showValidationErrors && f.submitted && !product.valid" class="invalid-feedback">
          {{'users.editor.RoleRequired' | translate}}
        </span>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr class="edit-separator-hr" />
        </div>
      </div>

      <div class="col-12" *ngIf="warehouseItemEdit.product != null">
        <div class="row mt-2 mb-2">
          <div class="col-6">
            <p class="h4">Product Name: <span class="text-muted">{{warehouseItemEdit.product.name}}</span>
            </p>
          </div>
          <div class="col-6">
            <p class="h4">Description: <span class="text-muted">{{warehouseItemEdit.product.description}}</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="h4">Selling:             <span class="text-muted">{{warehouseItemEdit.product.sellingPrice}}</span>
            </p>
          </div>
          <div class="col-6">
            <p class="h4">Buying:             <span class="text-muted">{{warehouseItemEdit.product.buyingPrice}}</span>
            </p>
          </div>
        </div>
        <div class="row mt-2 mb-2">
          <div class="col-6">
            <p class="h4">Weight:             <span class="text-muted">{{warehouseItemEdit.product.weight}}</span>
            </p>
          </div>
          <div class="col-6">
            <p class="h4">Height:             <span class="text-muted">{{warehouseItemEdit.product.weight}}</span>
            </p>
            <span class="text-muted">{{warehouseItemEdit.product.height}}</span>
          </div>
        </div>
        <p></p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr class="edit-separator-hr" />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-form-label col-md-3" for="name">Location</label>
            <div class="col-md-9">
              <input  type="text" id="location" name="location" placeholder="Location" class="form-control"
                     [ngClass]="{'is-valid': f.submitted && location.valid, 'is-invalid' : f.submitted && !location.valid}"
                      [(ngModel)]="warehouseItemEdit.location" #location="ngModel" required minlength="2" maxlength="200" />
            </div>
            <span *ngIf="showValidationErrors && f.submitted && !location.valid" class="invalid-feedback">
            location is required
            </span>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr class="edit-separator-hr" />
          </div>
        </div>
    <div [ngClass]="{'is-valid': f.submitted && warehouse.valid, 'is-invalid' : f.submitted && !warehouse.valid}" class="col-lg-9">
      <ng-select id="warehouseItem-warehouse"
                 name="warehouse" [items]="allWarehouses"
                 bindLabel="name" [multiple]="false"
                 [closeOnSelect]="true"
                 placeholder="Select Warehouse"
                 [(ngModel)]="warehouseItemEdit.warehouse"
                 (change)="selectWarehouseChange($event)"
                 #warehouse="ngModel"
                 class="form-control left-status pill-items"
                 required>

        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <span title='{{item.description}}' class='badge badge-pill badge-secondary'>{{item.name}}<span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span></span>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <span title='{{item.description}}' class='badge badge-pill badge-secondary'>{{item.name}}</span>
          <i class="fa fa-check d-none"></i>
        </ng-template>
      </ng-select>
      <span *ngIf="showValidationErrors && f.submitted && !warehouse.valid" class="invalid-feedback">
        {{'users.editor.RoleRequired' | translate}}
      </span>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="edit-separator-hr" />
      </div>
    </div>

    <div class="col-12" *ngIf="warehouseItemEdit.warehouse != null">
      <div class="row mt-2 mb-2">
        <div class="col-6">
          <p class="h4">Warehouse: <span class="text-muted">{{warehouseItemEdit.warehouse.name}}</span>
          </p>
        </div>
        <div class="col-6">
          <p class="h4">Type: <span class="text-muted">{{warehouseItemEdit.warehouse.type}}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="edit-separator-hr" />
      </div>
    </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <div ngPreserveWhitespaces class="float-right">
            <button type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'products.editor.Cancel' | translate}}</button>
            <button type="submit" class="btn btn-primary" [disabled]="isSaving">
              <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('products.editor.Saving' | translate) : ('products.editor.Save' | translate)}}
            </button>
          </div>
        </div>
      </div>
    <div class="clearfix"></div>
  </form>
</div>
